[user]
	name = maarten
    email = maarten@buildeleven.nl

[github]
    user = mjvdende

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    filemode = false
    trustctime = false

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[push]
    default = simple

[fetch]
    prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
