[user]
	name = Maarten
    email = maartenvdende@gmail.com

[github]
    user = mjvdende

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    filemode = false
    trustctime = false

[grep]
    lineNumber = true

[help]
    autocorrect = 1

[push]
    default = simple

[fetch]
  prune = true
